@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);


body {
  font-family: "Rubik", sans-serif;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 15px;
  margin: 0;
  background-color: #252525;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #252525;
  color: #fff;
}

.nav-right {
  text-align: right;
}

.inputBox {
  display: block;
  margin: 25px;
  padding: 8px;
  width: 300px;
  border: 1px solid #252525;
}

.login {
  margin-left: 30%;
  margin-top: 100px;
}

.logo {
  width: 70px;
  float: left;
  margin-left: 20px;
  margin-top: 1px;
}

#eventName{
  font-size: 4rem;
  margin-top: -50px;
}

.button {
  margin: 25px;
  padding: 10px;
  width: 100px;
  background-color: #7DC1EB;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
}

.button:hover{
  background-color: #4FA2D2;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tambola-ticket {
  display: grid;
  grid-template-columns: repeat(9, 38px [col-start]);
  grid-template-rows: repeat(3, 38px [col-start]);
  column-gap: 2px;
  row-gap: 2px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 2rem;
  margin-right: 2rem;
}

.tambola-ticket-cell {
  background-color: #eee;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

.board{
  display: flex;
  justify-content: center;
  align-items: center;
}

.striked {
  background-color: #f7c327;
  color: #000;
}

#login{
  margin-left: 25px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
  .tambola-ticket-cell {
    font-size: 0.6rem;
  }
  .logo{
    margin-top: 18px;
  }
  .nav-ul{
    padding: 26px;
  }
  .login{
    margin-left: 3%;
  }
}

@media only screen and (min-width: 600px) {
  .tambola-ticket {
    grid-template-columns: repeat(9, 120px [col-start]);
    grid-template-rows: repeat(3, 60px [col-start]);
    column-gap: 5px;
    row-gap: 5px;
  }
  .nav-ul{
    padding: 18px;
  }
} 
